

.advance {
  background-color: var(--color-hero);
  position: relative;
  border: 2px solid transparent;
  padding-top: 2rem;
}

.advance-text {
  margin-block: 4rem;
}

.advance-text h2 {
  margin: 0 auto;

  padding-inline: 22rem;
  padding-block: 1rem;
  font-size: 32px;
  color: var(--color-text1);
}

.advance-text p {
  margin-bottom: 1rem;

  line-height: 1.5;

  display: flex;

  justify-content: center;
  color: var(--color-text);
  font-size: 18px;
}

/*
    .advance-text p span {
    display: block;
    margin-left: 1rem;
    border: 2px solid red;
*/

.cardInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 25rem;

  margin-inline: 5rem 4rem;
  position: relative;
}

.cardInfo .card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1rem;
  height: 15rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  position: relative;
  z-index: 2;
  color: var(--color-text1);
}

.cardInfo .card p {
  color: var(--color-text);
}

.cardInfo .seperator {
  height: 4px;
  padding: 2px;
  background-color: var(--color-primary);
  position: absolute;
  top: 10rem;
  width: 100vh;
  margin-left: 1rem;
  z-index: 1;
}

.card img {
  margin: 1rem 0 0 -9rem;
  position: absolute;
  top: -3.8rem;
  padding: 12px;
  background-color: hsl(225, 11%, 22%);
  border-radius: 2rem;
}

.card h3 {
  margin-block: 1rem;
}

.boost_link {
  background-image: url("./assets/images/bg-boost-desktop.svg");
  background-position: center;
  background-color: var(--color-shorten-bg);
  height: 25vh;
}

.boost_link h2 {
  color: var(--color-bg);
  font-size: 32px;

  padding-inline: 20rem;
  padding-top: 1rem;
}

.boost_link button {
  padding: 1rem;
  margin-left: 25rem;
  margin-top: 1rem;
  width: 150px;
  border-radius: 2rem;
  background-color: var(--color-primary);
  border: 2px solid transparent;
  color: var(--color-bg);
}

.boost_link button:hover{
  cursor: pointer;
color: var(--color-bg);
background-color:var(--color-hover);
font-weight: 700;
}



.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-footer-bg);
  padding-inline: 3rem;
  height: 30vh;
}

.footer h3 {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-bg);
  margin-top: 1.5rem;
}

.footer .footer-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer .footer-info p {
  margin-block: 1.4rem;
  color: var(--color-bg);
  font-size: 12px;
}

.footer .footer-info ul li {
  list-style: none;
  line-height: 1.5;
  color: var(--color-bg);
  font-size: 10px;
  font-family: "poppins";
  margin-bottom: 0.5rem;
}

.footer .footer-info ul li:hover {
  cursor: pointer;
  color: var(--color-primary);
  
  font-weight: 700;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-block: 2.5rem;
  border: 2px solid transparent;
}

.footer img {
color: var(--color-bg);
  width: 15px;
  height: 15px;
}

.footer img:hover {
  cursor: pointer;
  
 
  font-weight: 700;
}




/*++++++++++++++++ MOBILE SCREEN +++++++++++++++*/
@media screen and (min-width: 300px) and (max-width: 550px) {
  .advance {
    border: 2px solid transparent;
    padding-top: 0.2rem;
    height: 300vh;
    width: 670px;
  }
    
 

    .advance-text h2 {
      margin-inline: 6rem;
      padding-inline: 1rem;
      margin-top: 18rem;
      font-family: "Roboto";
      font-size: 54px;
    }

    .advance-text p {
      display: inline-flex;
      flex-direction: row-reverse;
      padding-inline: 2rem;
      width: 450px;
      height: 154px;
      margin-left: 8rem;
      font-size: 24px;
      text-align-last: center;
      color: var(--color-text);
      
     
    }

    .cardInfo {
      display: block;
     
    }

    .cardInfo .card {
      padding: 10px;

      margin: 2rem 2rem 8rem 2rem;
      height: 25rem;
      border-radius: 0.5rem;
    }

    .cardInfo .seperator {
      height: 2px;
      padding: 2px;
      background-color: var(--color-primary);
      position: absolute;
      top: 45rem;
      left: -140px;
      width: 100vh;
      margin-left: 1rem;
      z-index: 1;
      transform: rotate(90deg);
      position: absolute;
    }

    .card img {
      margin: 1rem 0 0 0rem;
      width: 100px;
      top: -4.5rem;
      padding: 10px;
      border-radius: 3rem;
     
    }

    .card h3 {
      margin-block:5rem 1.5rem;
      font-size: 32px;
    }

    .cardInfo .card p {
      color: var(--color-text);
      width: 300px;
      font-size: 22px;
    }

    .boost_link {
      background-image: url("./assets/images/bg-boost-mobile.svg");
      height: 45vh;
      width: 680px;
   
    }

    .boost_link h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 1rem;
      padding-top: 5rem;
      font-size: 54px;
     
    }

    .boost_link button {
      margin-left: 12.5rem;

      font-family: "Roboto";
      font-size: 32px;
      width: 300px;
      margin-top: 3rem;
    }

    .footer {
      display: inline-block;
      width:680px;
      padding-inline: 3rem;
      height: 100vh;
    }

    .footer h3 {
      margin-top: 0rem;
      padding: 2rem 12.5rem;
      font-size: 64px;
    }

    .footer .footer-info {
      display: block;
      margin-left: 15.5rem;
    }

    .footer .footer-info p {
      margin-block: 1.4rem;
      color: var(--color-bg);
      font-size: 32px;
    }

    .footer .footer-info ul li {
      list-style: none;
      line-height: 1.5;
      color: var(--color-bg);
      font-size: 16px;
      font-family: "poppins";
      margin-bottom: 0.5rem;
    }

    .footer .social-icons {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      margin-block: 2.5rem;
      border: 2px solid transparent;
    }

    .footer img {
  
      width: 25px;
      height: 25px;
    }
  }


